html {
  height: 100%;
}

body {
  height: 100%;
  background: url(./image/1.jpg);
  }

.header {
  font-size: 29px;
  text-align: center;
  padding: 30px;
}

.nav {
  height: 100%;
}

.nav_item {
  height: 40px;
  width: 70px;
  border: 2px solid greenyellow;
  background-color:skyblue;
  text-align: center;
  padding: 20px;
  margin: 15px;
  box-shadow: 5px 5px 5px 1px rgb(255, 255, 255, 0.6);
}

.nav_item:hover {
  z-index: 1;
  height: 50px;
  width: 80px;
}
 