body {
   
}

.contet {
    
    padding: 4px;
}

.box{
    height: 50px;
    width: 150px;
    border: 3px solid black;
  

}

.box:hover{
    border: 5px solid black;
  }

  .wraper{
       display: flex;
       flex-direction: column;
       position: fixed;
       top: 70px;
       left: 5 px;
  }