* {
  margin: 0;
  padding: 0;
}

.forecast {
  background-image: url(https://ireland.apollo.olxcdn.com/v1/files/hmayaqmpmif73-UA/image;s=1000x570);
  background-repeat: no-repeat;
  height: 300px;
  width: 450px;
  border-radius: 25px;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}


