.wijet {
  margin-top: 10px;
  padding: 20px;
  width: 900px;
  height: 341px;
  display: flex;
  border-radius: 25px;
  font-family: serif;
  text-align: center;
  background-image: url(https://cdn.crello.com/api/media/small/291166132/stock-vector-water-splesh-and-bokeh-background);
  flex-direction: column;
}

.city {
  font-size: 40px;
 }
.date {
  margin: 15px;
}

.nav {
  display: flex;
}

.card {
  padding: 10px;
  border: 2px solid white;
  font-size: 15px;
  font-family: serif;
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 7px black;
}