.wijet{
  width: 900px;
  display: flex;
  border-radius: 25px;
  font-family: serif;
  text-align: center;
  background-image: url(https://cdn.crello.com/api/media/small/291166132/stock-vector-water-splesh-and-bokeh-background);
  flex-direction: column;
}

.city {
  font-size: 40px;
  margin-top: 15px;
}

/* .date {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.nav{
  display: flex;
}
.card {
  border: 2px solid white;
}

.card:hover {
  box-shadow: 0 0 7px black;
}