.button {
    display: flex;
    margin: 5px;
    background-color: aquamarine;
    border: 2px solid black;
    
}
.text{
    font-size: 18px;
    font-style: italic;
}
.makeActive{
    width: 150px;
    background-color: greenyellow;
    border: 2px sold black;
}
.makeBold{
    font-weight: bold;
}
.addLine{
text-decoration: underline;
}