<hr>
<ol>
  <li>
    <h3>Slider selection</h3>
    <app-slider></app-slider>
  </li>
  <li>
    <h3>Multiple selection</h3>
    <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
      <mat-button-toggle value="flour">Flour</mat-button-toggle>
      <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
      <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
    </mat-button-toggle-group>
  </li>
  <li>
    <h3>Buttons selection</h3>
    <button mat-button color='primary'>Hello</button>
    <button mat-raised-button color='accent'>Click me</button>
    <button mat-stroked-button>READY</button>
    <button mat-flat-button>Hello</button>
    <button mat-fab color='warn'>OK</button>
    <button mat-mini-fab color='accent'>OK</button>
  </li>
  <li>
    <h3>Mat-icon selection</h3>
    <mat-icon aria-hidden="false" aria-label="Example home icon" color='primary'>home</mat-icon>
  </li>
  <li>
    <h3>BottomSheet selection</h3>
    <p>You have received some file</p>
    <button>Open file</button>
  </li>
  <li>
    <h3>Radio-button selection</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </li>
  <li>
    <h3>Progress-spinner selection</h3>
    <mat-spinner></mat-spinner>
  </li>
  <li>
    <h3>Mat-list selection</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </li>
  <li>
    <h3>MatProgressBar selection</h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </li>
  <li>
    <h3>Toolbar selection</h3>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </li>

</ol>
