* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  /* background: -webkit-linear-gradient(90deg,rgb(51, 68, 85), rgb(85, 170, 187));
  background: -moz-linear-gradient(90deg, rgb(51, 68, 85), rgb(85, 170, 187)); */
  background: linear-gradient(90deg, rgb(51, 68, 85), rgb(85, 170, 187));
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all;
}

.cub {
  height: 100px;
  width: 170px;
  border: 3px solid black;
  margin: 5px;
}

.cub:hover {
  z-index: 1;
  height: 200px;
  width: 340px;
}