body {
   background: -webkit-linear-gradient(90deg, rgb(51, 68, 85), rgb(85, 170, 187));
   background: -moz-linear-gradient(90deg, rgb(51, 68, 85), rgb(85, 170, 187));
   background: linear-gradient(90deg, rgb(51, 68, 85), rgb(85, 170, 187));
}

.contet {
  color: white;
  padding: 7px;
}

.nav {
  height: 30px;
  background-color: chartreuse;
  position: sticky;
  top: 0px;
}
