  li {
            list-style: none;
            font-style: italic;
            input type="checkbox";
            front color: green;
        }

p {
    font-size: 30px;
    flood-color: rgb(0, 217, 255);
}